* {
  box-sizing: border-box
}

body {
  color: #1d1d1d;
  padding: 0;
  font: 15px Barlow;
  line-height: 2eM;
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 20% 80%;
}


#left_column {
    background: #f9f9f9;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr) );
    align-items: center;
    text-align: right;
    padding: 15px;
}

h1 {
    text-align: center;
    background: #1d1d1d;
    color: white;
    padding: 25px 0;
    margin: 0 0 25px;
}

a {
  text-transform: none;
  text-decoration: none;
  font-weight: bold;
  color: #1d1d1d;
}

#container {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 1024px;
  padding: 25px;
}


form input,
form select {
  display: block;
  float: left;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #f0f0f0;
}
.row {
  width: 100%;
  padding: 5px 0;
  float: left;
}

.btn {
  float: left;
  border-radius: 5px;
  padding: 13px 24px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.15s ease all;
  width: auto;
  font-size: 1eM;
  font-weight: 400;
  font-family: Barlow;
  line-height: 1eM;
  background: white;
}

.btn:hover {
  background: #1d1d1d;
  color: #fff;
  border-color: #000;
}


.btn.btn-delete {
  background: #ff5a49;
  color: white;
  border-color: #ff4430;
}
.btn.btn-delete:hover {
  color: #ff5a49;
  background: white;
  border-color: #ff4430;
}

.btn.btn-secondary {
    background: #1d1d1d;
    color: white;
    border-color: #000;
}
.btn.btn-secondary:hover {
    background: white;
    color: #1d1d1d;
    border-color: #ddd;
}
.error {
  color: #1d1d1d;
  background: #ff443033;
  border: 1px solid;
  border-color: #ff4430;
  text-align: center;
  padding: 20px;
  margin: 15px auto;
  list-style: none;
}

.btn.btn-primary {
  background: #49ffb2;
  border-color: #29db90;
}
.btn.btn-primary:hover {
  background: #e8fff5;
  color:#1d1d1d;
  border-color: #29db90;
}

.success {
  color: #1d1d1d;
  background: #29db9033;
  border: 1px solid;
  border-color: #29db90;
  text-align: center;
  padding: 20px;
  margin: 15px auto;
  list-style: none;
}

.tokens {
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 0;
    padding: 0;
    grid-gap: 15px 20px;
    width: calc(100% - 20px);
}

#user {
  max-width: 100%;
  width: 380px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#footer a {
    color: white;
    font-weight: normal;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1d1d1d;
    text-align: center;
}

.text-center {text-align: center}
.float-right {float: right}

#permissions {
  display: grid;
  grid-template-columns: 100%;
  padding: 20px 0;
}

#permissions li {
  list-style: none;
  padding: 15px;
  border-bottom: 1px dotted;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#permissions li:nth-child(2) {
  border-top: 1px dotted;
}

#permissions li span {
  margin-left: 15px;
}


.half:nth-child(1) {
  padding-right: 15px;
}
.half:nth-child(2) {
  padding-left: 15px;
}
.half{
  width: 50%;
  float: left;
}

form.form {
  background: #f9f9f9;
  padding: 15px 20px;
  margin: 25px 0;
  float: left;
  width: 100%;
}

form.adminForm,
form.editForm {
  display: none;
}

.list.title {
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin: 25px 0 10px;
  text-align: center;
}
.list {
  width: 100%;
  float: left;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  padding: 20px 0;
  border-bottom: 1px dotted;
}
.list form {
    grid-column: 1 / 4;
}

