body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: calc(1em + 2.5vh) 1fr calc(1em + 2.5vh);
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Barlow;
    font-weight: 300;
    font-size: calc(1eM + 0.5vh + 0.2vw);
    color: #1d1d1d;
    grid-row-gap: 5vh;
}

b, strong, h1, h2, h3, h4 {
    font-weight: 700;
}

* {
    transition: color 0.3s ease, background 0.3s ease;
    box-sizing: border-box;
}

a {
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: black;
}

#nav {
    grid-row: 1;
    background: #d8f6ff;
    display: flex;
    align-content: center;
    justify-content: end;
    flex-wrap: wrap;
}

#nav .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#nav a {
    text-align: center;
    border-bottom: 2px solid transparent;
    padding: 1vh 0;
}

#nav a.active {
    color: #007b9f;
    border-bottom: 2px solid #007b9f;
}

#nav a:hover {
    color: #007b9f;
}


#content {
    grid-row: 2;
}

#footer {
    grid-row: 3;
    background: #1d1d1d;
    color: white;
    width: 100%;
}

#footer a {
    color: white;
    padding: 1vh 0;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5vw;
    width: 100%;
}

.row, form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  grid-gap: 1vh;
}

.row.half {
  grid-template-columns: repeat(2, 1fr);
}

.row.half label {
    grid-row: 1;
}

form input,
form textarea {
  padding: 2vh 2vw;
  font-family: Barlow;
}


input[type="submit"] {
  background: #1d1d1d;
  color: white;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
}

input[type="submit"]:hover {
  
    color: #1d1d1d;
    background: white;
}