doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/fontawesome/css/all.min.css')
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
	body
		
		#left_column
			if cart
				include ./pages/listing/cartMenu
			if leftColumn
				include ./pages/listing/userMenu
				include ./pages/listing/categoriesMenu

		#container
			include ./pages/listing/messages
			block content
		
		#footer
			block footer
				a(href="https://www.urimarti.com", target='_blank') Web creada por urimarti
		
		block scripts
			script(src="https://code.jquery.com/jquery-3.5.1.min.js")
			script(src="/js/script.js")
